<%= javascript_pack_tag 'create_routine', 'data-turbolinks-track': 'reload', defer: true %>

<div class="modal-div">
  <div class="new-routine-template-container second">
    <% @exercises.reverse.each do |exercise| %>
      <div class="item">

        <div class="exercise-index-preview">
          <%= exercise.name %>
        </div>

          <div class="item-description">
            <%= exercise.description %>
          </div>

          <div>
              <i class="fas fa-plus add-item" data-name="<%=exercise.name%>" data-description="<%=exercise.description%>"></i>
          </div>

          <%# add event listeners to all of these buttons, add the title and description to the list of exercises for the given routine%>

      </div>
    <% end %>
    <div class="cancel primary-button">
      Cancel
    </div>
  </div>
</div>

<div class="heading-div">
  <div class="page-title">
    CREATE A ROUTINE
  </div>
</div>

<div class="new-routine-template-container-div">
  <div class="new-routine-template-container first">
    <div class="new-routine-template-form">
      <%= simple_form_for @routine_template do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <div class="submit-button-div"><%= f.button :submit, "Create routine", class: "primary-button wide create-button" %></div>
      <% end %>
    </div>
  </div>

  <div class="new-routine-template-container second">
    <div class="new-add-exercise primary-button">
      Add an exercise
    </div>
    <div class="routine-exercises-container">
    </div>
  </div>
</div>
